<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE checkstyle PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<checkstyle version="9.3">
    <module name="Checker">
        <!-- Ici on place TreeWalker qui contient des règles de code -->
        <module name="TreeWalker">
            <module name="SimplifyBooleanExpression"/>
        </module>

        <!-- Modules comme FileLength qui ne peuvent pas être sous TreeWalker -->
        <module name="FileLength">
            <property name="max" value="500"/>
        </module>

        <module name="MethodLength">
            <property name="max" value="50"/>
        </module>
    </module>
</checkstyle>



        <!--<?xml version="1.0"?>-->
<!--<!DOCTYPE module PUBLIC-->
<!--        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"-->
<!--        "https://checkstyle.org/dtds/configuration_1_3.dtd">-->
<!--<module name="Checker">-->
<!--    <module name="TreeWalker">-->
<!--        <module name="UnusedImports"/>-->
<!--        <module name="NeedBraces"/>-->
<!--    </module>-->
<!--</module>-->