<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="9.3">
    <module name="Checker">
        <module name="TreeWalker">
            <module name="SimplifyBooleanExpression"/>
            <module name="FileLength">
                <property name="max" value="500"/>
            </module>
            <module name="MethodLength">
                <property name="max" value="50"/>
            </module>
        </module>
    </module>
</checkstyle>
